<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?FFFF</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button (click)="addEvente()">
      Add Event
    </ion-button>
    <ion-button (click)="openCalendar()">abrir calendario</ion-button>
    <ion-button (click)="addCalendar()">agregar calendario</ion-button>
    <ion-button (click)="showCalendars()">Mostrart calendario</ion-button>
    <ion-button (click)="showEvents()">Mostrart eventos</ion-button>
    <ion-button (click)="addOptions()">Add with options</ion-button>
    <form [formGroup]="formDel" (ngSubmit)="eliminarEvento()">
      <input type="text" name="id" formControlName="id">
      <ion-button type="submit">
        Eliminar
      </ion-button>
    </form>
    <ion-button (click)="permisions()">
      Permisos
    </ion-button>
  </div>
</ion-content>
